FindCategory/WebContent/wsdl/EMICalculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webserviseclasses.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webserviseclasses.com" xmlns:intf="http://webserviseclasses.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webserviseclasses.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getEMI">
    <complexType> 
     <sequence>
      <element name="principle" type="xsd:float"/>
      <element name="noOfMonths" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEMIResponse">
    <complexType>
     <sequence>
      <element name="getEMIReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEMIResponse">

      <wsdl:part element="impl:getEMIResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEMIRequest">

      <wsdl:part element="impl:getEMI" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EMICalculator">

      <wsdl:operation name="getEMI">

         <wsdl:input message="impl:getEMIRequest" name="getEMIRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEMIResponse" name="getEMIResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EMICalculatorSoapBinding" type="impl:EMICalculator">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEMI">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEMIRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEMIResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EMICalculatorService">

      <wsdl:port binding="impl:EMICalculatorSoapBinding" name="EMICalculator">

         <wsdlsoap:address location="http://localhost:7070/FindCategory/services/EMICalculator"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
